!!!
%haml{:lang => "ja"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %script{:type => "text/javascript", :src => "/js/jquery-1.11.1.min.js"}
    %script{:type => "text/javascript", :src => "/js/highcharts.js"}
    %script{:type => "text/javascript", :src => "/js/chart.js"}
    :javascript
      function getQuerystring(key, default_) {
        if (default_ == null) {
          default_ = "";
        }
        key = key.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + key + "=([^&#]*)");
        var qs = regex.exec(window.location.href);
        if (qs == null) {
          return default_;
        }else{
          return qs[1];
        }
      }

      $(document).ready(function(){
        var now = new Date();
        var formated24HourAgo = now.getFullYear() + "-";
        formated24HourAgo += ("0" + (now.getMonth() + 1)).slice(-2) + "-";
        formated24HourAgo += ("0" + (now.getDate() - 1)).slice(-2) + " ";
        formated24HourAgo += ("0" + now.getHours()).slice(-2) + ":";
        formated24HourAgo += ("0" + now.getMinutes()).slice(-2) + ":";
        formated24HourAgo += ("0" + now.getSeconds()).slice(-2);

        $("input[name='_sensorid']").val(getQuerystring("sensor_id", 1));
        $("input[name='_start']").val(getQuerystring("start", formated24HourAgo));
        $("input[name='_span']").val(getQuerystring("span", "daily"));

        draw($("input[name='_sensorid']").val(), $("input[name='_start']").val(), $("input[name='_span']").val());

        //$(#id_name).click(function(){
        //
        //})
      });

      $(window).bind("resize",function(){
        draw($("input[name='_sensorid']").val(), $("input[name='_start']").val(), $("input[name='_span']").val());
      });

  %body
    %div{}
      %div{:id => "container"}
      %input{:type => "hidden", :name => "_sensorid"}
      %input{:type => "hidden", :name => "_start"}
      %input{:type => "hidden", :name => "_span"}
